{:linters {:refer-all         {:level   :info
                               :exclude [midje.sweet]}
           :unresolved-symbol {:level   :warning
                               :exclude [fact
                                         facts
                                         =>
                                         (midje.sweet/fact)
                                         (midje.sweet/facts)
                                         (midje.parsing.arrow-symbols/=>)]}
           }
 :lint-as {bonafont.logic.flow-edge/def                clojure.core/def
           bonafont.logic.flow-edge/defedge            clojure.core/def
           bonafont.logic.flow-config/defflow          clojure.core/def
           bonafont.logic.flow-config/def              clojure.core/def
           bonafont.flows.debit-request.edges/def-edge clojure.core/def
           postman.aux.helpers/defaction               clojure.core/defn
           schema.core/def                             clojure.core/def
           common-test.postman.helpers.core/defstep    cloure.core/defn}}
