{:log-path "/tmp/clojure-lsp.out"
 :cljfmt {:indents
          {against-background      [[:inner 0]]
           as-admin                [[:block 1]]
           as-customer             [[:block 1]]
           as-customer-with-lift   [[:block 1]]
           as-delegate             [[:block 2]]
           as-delegate-with-lift   [[:block 2]]
           as-of                   [[:block 1]]
           assoc                   [[:block 1]]
           assoc-if                [[:block 1]]
           assoc-in-if             [[:block 1]]
           assoc-some              [[:block 1]]
           assoc-in-some           [[:block 1]]
           constraint-fn           [[:block 2]]
           consume!                [[:block 0]]
           data-fn                 [[:block 1]]
           defhandler              [[:block 2]]
           defint                  [[:block 0]]
           defuf                   [[:block 1]]
           embeds                  [[:block 0]]
           expand-routes           [[:inner 1]]
           fact                    [[:block 1]]
           facts                   [[:block 1]]
           flow                    [[:block 1]]
           flow-with-defaults      [[:block 1]]
           flow-as-of              [[:block 1]]
           flow-without-validation [[:block 1]]
           for-all                 [[:block 1]]
           future-fact             [[:block 1]]
           future-facts            [[:block 1]]
           idempotent-start        [[:block 1]]
           idempotent-stop         [[:block 1]]
           ignore-conflict         [[:inner 0]]
           let-entities            [[:block 2]]
           let-flow                [[:block 1]]
           log-messages            [[:block 0]]
           logged-call             [[:block 1]]
           non-test-action         [[:inner 0]]
           profile                 [[:block 2]]
           profiled                [[:block 1]]
           provided                [[:inner 0]]
           quick-check             [[:block 1]]
           rethrow                 [[:block 1]]
           run-recipe              [[:inner 0]]
           some-with-open          [[:block 1]]
           system-map              [[:block 0]]
           tabular                 [[:inner 0]]
           try-type                [[:block 0]]
           with-cid                [[:block 1]]
           with-fn-validation      [[:block 0]]
           with-responses          [[:block 0]]
           with-scopes             [[:block 1]]}}
 :linters {:unused-public-var {:exclude-when-defined-by #{state-flow.cljtest/defflow}}}
 :source-paths #{"src" "test" "postman"}
 :use-metadata-for-privacy? true
 :keep-require-at-start? false
 :show-docs-arity-on-same-line? true
 :text-document-sync-kind :full
 :semantic-tokens? true
 :auto-add-ns-to-new-files? true
 :additional-snippets [{:name "wrap-let-sexpr$"
                        :detail "Wrap in let sexpr"
                        :snippet "(let [$1] $0$current-form)"}]
 :dependency-scheme "jar"}
